<footer class="bg-[#FFE7FD] bottom-0">
  <div class="max-w-screen-xl mx-auto">
  <div class="flex max-sm:items-center max-sm:gap-y-4 justify-between max-md:flex-col pb-12 pt-20">
    <div class="text-grey_600 text-sm font-medium">©2023 AmaliTech Giga</div>
    <div class="text-primary text-3xl font-extrabold">T-Mobile</div>
    <div><app-button [title]="'Order Now'"/></div>
  </div>
  <div class="container border-t border-[#CDD1D4] flex flex-col pt-3 pb-8 mx-auto lg:flex-row divide-gray-400">
    <ul class="self-center text-sm max-md:pb-10 text-primary md:space-y-0 text-center flex space-y-0 sm:justify-around space-x-20 flex-1 lg:justify-start">
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
    <div class="flex flex-col justify-center">
      <div class="flex justify-center space-x-4">
        <a rel="noopener noreferrer" href="#" title="Facebook" class="flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 dark:bg-violet-400 dark:text-gray-900">
          <img ngSrc="assets/images/facebook.png" height="16" width="16" alt="facebook"/>
        </a>
        <a rel="noopener noreferrer" href="#" title="Linkedin" class="flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 dark:bg-violet-400 dark:text-gray-900">
          <img ngSrc="assets/images/linkedin.png" height="16" width="16" alt="linkedin">
        </a>
        <a rel="noopener noreferrer" href="#" title="Twitter" class="flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 dark:bg-violet-400 dark:text-gray-900">
          <img ngSrc="assets/images/twitter.png" height="16" width="16" alt="youtube"/>
        </a>
        <a rel="noopener noreferrer" href="#" title="Youtube" class="flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 dark:bg-violet-400 dark:text-gray-900">
          <img ngSrc="assets/images/youtube.png" height="16" width="16" alt="youtube"/>
        </a>
        <a rel="noopener noreferrer" href="#" title="Instagram" class="flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 dark:bg-violet-400 dark:text-gray-900">
         <img ngSrc="assets/images/Instagram.png" height="16" width="16" alt="instagram">
        </a>
      </div>
    </div>
  </div>
  </div>
</footer>
