<div class="bg-image gap-y-12 flex flex-col text-center justify-center items-center">
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary text-4xl font-medium">A Price To Suit Everyone</h2>
    <p class="max-w-2xl">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    </p>
  </div>
  <div class="flex flex-col gap-y-1">
    <span class="text-primary text-6xl">$40</span>
    <span>Monthly subscription</span>
  </div>
  <div class="flex flex-col gap-y-3">
    <span class="text-grey_600 text-sm">See, One price. Simple.</span>
    <app-button [title]="'Order Now'"/>
  </div>
</div>
