.bg-image{
  background-image: url(../../assets/images/designer_1.png);
  background-position: top right;
  background-repeat: no-repeat !important;
  background-blend-mode: multiply;
  content: '';
  height: 150%;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .bg-image{
    background-image: none;
  }
}
