 <section class="max-w-4xl overflow-auto p-6 mx-auto bg-white mt-20">
   <button class="float-right text-xs border-primary mb-20 border-2 text-primary rounded-full w-8 h-8">
     <mat-icon mat-dialog-close="true">close</mat-icon>
   </button>
    <h2 class="text-lg border-b font-semibold p-4 text-gray-700 capitalize">Request Fiber Form</h2>
    <form [formGroup]="requestFiberForm" (ngSubmit)="onSubmit()">
      <app-section-heading [name]="'Applicant Details'"/>
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <app-input [label]="'First Name'" [placeholder]="'First Name'" [type]="'text'"
          [control]="requestFiberForm.controls.firstName"
          [capitalize]="true"
        />
        <app-input [label]="'Last Name'" [placeholder]="'Last Name'" [type]="'text'"
           [control]="requestFiberForm.controls.lastName"
           [capitalize]="true"
        />
        <app-input [label]="'Other Names'" [placeholder]="'Other Names'" [type]="'text'" [required]="false"
           [control]="requestFiberForm.controls.otherName"
           [capitalize]="true"
        />
        <app-input [label]="'Date of Birth'" [type]="'date'" [control]="requestFiberForm.controls.dateOfBirth"/>
        <app-select [label]="'ID Type'" [options]="idTypes" [selectLabel]="'Select an ID'"
          [control]="requestFiberForm.controls.idType"
        />
        <app-input [label]="'ID Number'" [placeholder]="'ID Number'" [type]="'text'"
          [info]="'Please note that the ID provided during this application will be validated at the time of payment'"
                   [control]="requestFiberForm.controls.idNumber"
        />
      </div>
      <app-section-heading [name]="'Postal Address'"/>
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <app-input [label]="'Postal Address'" [placeholder]="'Postal Address'" [control]="requestFiberForm.controls.postalAddress"/>
        <app-select [label]="'Region'" [options]="regions" [selectLabel]="'Select...'" [control]="requestFiberForm.controls.region"/>
      </div>
      <app-section-heading [name]="'Installation Address'"/>
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <app-select [label]="'Region'" [options]="regions" [selectLabel]="'Select...'" [control]="requestFiberForm.controls.installationRegion"/>
      </div>
      <app-section-heading [name]="'Giga Service'"/>
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <app-select [label]="'Do you already have a fixed line?'" [options]="yesNo" [selectLabel]="'Select...'" [control]="requestFiberForm.controls.fixedLine"/>
        <app-select [label]="'Preferred Fixed Data Package'" [options]="dataPackages" [selectLabel]="'Select...'" [control]="requestFiberForm.controls.dataPackage"/>
        <app-select [label]="'Preferred Fixed Voice Package'" [required]="false" [options]="voicePackage" [selectLabel]="'Select...'" [control]="requestFiberForm.controls.voicePackage"/>
      </div>
      <app-section-heading [name]="'Contact Person Details'"/>
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <app-input [label]="'First Name'" [capitalize]="true" [placeholder]="'First Name'" [control]="requestFiberForm.controls.firstNameCP"/>
        <app-input [label]="'Last Name'" [capitalize]="true" [placeholder]="'Last Name'" [control]="requestFiberForm.controls.lastNameCP"/>
        <app-input [label]="'Phone Number'" [placeholder]="'Phone Number'" [control]="requestFiberForm.controls.phoneNumber"/>
        <app-input [label]="'Alternative Phone Number'" [required]="false" [placeholder]="'Alternative Phone Number'" [control]="requestFiberForm.controls.altPhoneNumber"/>
        <app-input [label]="'Email'" [placeholder]="'e.g. myemail@example.com'" [control]="requestFiberForm.controls.email"/>
        <app-input [label]="'Confirm Email'" [placeholder]="'e.g. myemail@example.com'" [control]="requestFiberForm.controls.confirmEmail"/>
      </div>
      <app-section-heading [name]="'Other'"/>
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <app-input [label]="'Preferred Broadband Username'" [placeholder]="'Preferred Broadband Username'" [control]="requestFiberForm.controls.userName"/>
        <app-select [label]="'How did you get to know about this product?'" [required]="false" [options]="source" [selectLabel]="'Select...'" [control]="requestFiberForm.controls.source"/>
      </div>
      <div class="mt-4">By clicking Apply you affirm that you have read and accepted the Terms and Conditions</div>
      <div class="mt-8 flex justify-end">
        <button class="bg-primary hover:border-main_blue hover:bg-main_blue px-20 py-3 text-white rounded-2xl border border-primary">Apply</button>
      </div>
    </form>
   <div class="mt-12">
     For enquiries please call 100 (Giga numbers only), 0324234234234324 from all other network (charges apply) or visit any of our retail shops
   </div>
  </section>

